<h1 class="jumbotron center">Dictionary</h1>
<h3>$words.returnWord()</h3>

<ul>
  #foreach($description in $words.getDefinition())
    <li>$description.getDescription()</li>
  #end
</ul>

<a href="/words/$words.getId()/definitions/new">Add a new Definition</a>
<a href="/words">All words</a>
