<h1 class="jumbotron center">Dictionary</h1>
<h3>Add A Word</h3>

<form action="/words" method="post">
  <label for="name">Word</label>
  <input id="name" name="name" type="test">

  <button type="submit" class="btn btn-default">Add Definition</button>
</form>
