<h1 class="jumbotron center">Dictionary</h1>
<h3>All words</h3>
<ul>
  #foreach ($word in $words)
    <li><a href="/words/$word.getId()">$word.returnWord()</a></li>
  #end
</ul>
<a href="/words/new">Add New Word</a>
