<h1>Add a definition to $words.returnWord()</h1>

<form action="/definitions" method="post">
  <input id="wordsId" name="wordsId" type="hidden" value="$words.getId()">

  <div class="form-group">
    <label for="description">Description</label>
    <input id="description" name="description" type="text" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add Task</button>
</form>
